<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="toDoApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/">Shuin's To Do AngularJS app</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container"  ng-controller="TodolistcontrollerCtrl as item">
      <div class="jumbotron">
        <h1>You have {{item.todoLists.length}} {{item.todoLists.length == 0 || item.todoLists.length != 1 ? 'items' : 'item'}} in your list !</h1>
      </div>
      <div class="row">
        <form ng-submit="item.addTodo(newToDo)">
          <input type="text" ng-model="newToDo">
          <button type="submit">Add new To Do </button>
          <br><br>
        </form>
      </div>
      <div class="row">
        <hr><hr>
        {{item.todoLists == 0 ? 'Add your first to do item' : ''}}
          <div class="card col-6 d-flex justify-content-between"  ng-repeat="items in item.todoLists">
            <div class="card-body">
                <h5 class="card-title">{{ items.string }} <br><span class="{{items.done ? 'green' : 'red'}}dot"></span></h5>
                <h6 class="card-subtitle mb-2 text-muted">#{{ items.id }}</h6>
                <p class="card-text">{{items.extras}}</p>
                <hr>
                <input type="button" value='Completed' ng-click="items.done = !items.done"></a> | 
                <input type="button" value='Delete' ng-click="remove(item.todoLists, $index)"></a>

            </div>
          </div>
      </div>

    </div>
  </div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> Shuin</p>
      </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/todolistcontroller.js"></script>
        <!-- endbuild -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
